<div class="container" style="margin:24px; ">
    <div class="row" style="display: flex; align-content: center; justify-content: space-between; align-items: center">
        <div (click)="goBack()" style="display: flex; cursor: pointer;align-items: center">
        <mat-icon>arrow_back</mat-icon>
            <span style="font-size:12px; font-weight: bold">RITORNA ALLO STORICO</span>
        </div>
        <p>{{order.date | date:'dd/MM/YYYY HH:mm'}}</p>
    </div>

    <div class="row" style="margin-top: 18px;">
        <span style="font-size: 18px; font-weight: bold;">Dettaglio ordine #{{ordine_id}}</span>
    </div>
    <div class="row" style="margin-top: 18px; display: flex; justify-content: space-between; padding: 16px;">
        <span style="font-weight: bolder">PRODOTTO</span>
        <span style="font-weight: bolder" class="vert-divider">ORARI DISPONIBILI</span>
        <span style="font-weight: bolder" class="vert-divider">PREZZO</span>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let p of order.products" class="row" style=" display: flex; justify-content: space-between; padding: 16px; align-items: center">
        <span style="font-weight: bolder; display: flex; align-items: center">
            <img [src]="p.images[0].data" style="background-color: #47caff; width: 100px; height: 100px; object-fit: cover; object-position: center"/>
            <p style="padding: 18px;">{{p.name}}</p>
        </span>
        <span >0:00</span>
        <span >€ {{p.price}}</span>
    </div>

    <div >

    </div>


</div>

