// Importa le variabili SCSS
@import "../../../../../assets/scss/variables.scss";

.title{
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title > button {
  color: $primary-color;
  border-style: solid;
  border-width: 2px;
  border-color: $primary-color;
  background-color: white;
}



// Contenitore principale della vista dettaglio
.detail-container {
  width: 100%;
  height: auto;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

// Carta contenente i dettagli del prodotto
.detail-card {
  width: 80%;
  height: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px 40px 0 40px;
}

// Contenitore per le informazioni del prodotto
.product-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

// Immagine del prodotto
.image {
  flex-direction: column;
  margin: 10px;
  height: 124px;
  width: 124px;
  background-color: red;
}

// Contenitore per l'immagine principale del prodotto
.big-image-container {
  margin: 10px;
  max-height: 525px;
}

// Contenitore per l'header
.header-container {
  display: flex;
}

// Dettagli del prodotto
.product-details {
  margin: 10px;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  flex-grow: 1;
}

.title-span{
  margin: 10px;
  font-weight: bold;
  color: #9B999D;
}

.body-span{
  margin: 10px;
}

.modify-button {
  display: flex;
  flex-direction: row-reverse ;
}
